<div id="left">
	<div id="logo">
		<%= image_tag "logo.png", :title => "logo", :class => "logo" %>
	</div>
</div>

<div id="right">
	<h2>
		13 million people in 
		the Horn of Africa are facing a hunger crisis.
	</h2>

	<h3>
		<p>
			The World Food Programme can provide life-saving 
			nutrition to one person for just 50¢ per day.
		</p>
		<p>
			Your donation now will save lives, submit your video 
			10 secs where you can express your wish to help Africa.
		</p>
	</h3>
	
	<div id="donate">
		<%= link_to '#' do %>
			<%= image_tag 'donate-button.png' %>
		<% end %>
	</div>
	
	<%= image_tag 'mini-africa.png', :id => 'mini-africa' %>
</div>

<div id="loader">
	<div id="loading">
		Loading...
	</div>
	<!-- <canvas id="horn" width="722" height="880" style="display: none;">
		Your browser doesn't support canvas.
	</canvas> -->
</div>

<script type="text/javascript">
	// alert(this.horn);
</script>

(show loader)
async javascript:
- build map, square by square
  + add link to video for those ones that are taken
  + add facebook login to others
- add index to squares table (?)