<div id="left">
	<div id="logo">
		<%= image_tag "logo.png", :title => "logo", :class => "logo" %>
	</div>
	<h2>
		13 million people in 
		the Horn of Africa are facing a hunger crisis.
	</h2>

	<h3>
		<p>
			The World Food Programme can provide life-saving 
			nutrition to one person for just 50¢ per day.
		</p>
		<p>
			Your donation now will save lives., submit your video 
			10 secs where you can express your wish to help Africa.
		</p>
	</h3>
	
	<h4>
		Full website coming soon but you don’t have to wait to make a <%= link_to 'donation', 'http://5050.gd' %>.
	</h4>
</div>