/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*dev*/
$fs: 18px;
$violet: #59466D;
$red: #CE1526;
body {
/*	background: url(background.jpg) top left no-repeat;*/
	font-family: 'Poly', serif;
	font-size: $fs;
}

#container {
	width: 1136px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#logo {
	position: absolute;
	right: 86px;
	top: 228px;
}

#introduction, #instructions {
	clear: both;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
	a {
		color: $red;
		font-weight: bold;
		text-decoration: none;
	}
	h2 {
		font-weight: bold;
		font-size: 34px;
		line-height: 40px;
		color: #59466d;
		font-family: 'Oswald', sans-serif;
	}
	h3 p {
		color: #78797c;
		width: 80%;
		margin: 15px auto;
	}
}

#loader {
	width: 772px;
	height: 880px;
	text-align: center;
	font-size: $fs*2;
	margin-right: 250px;
	margin-bottom: 25px;
	float: right;
}

#donate {
	text-align: right;
	padding: 0;
	margin-top: 17px;
	margin-right: 25px;
	float: right;
	a {
		border-radius: 2px;
		background: #B30F1E;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce1526', endColorstr='#b30f1e');
		background: -webkit-gradient(linear, left top, left bottom, from($red), to(#B30F1E));
		background: -moz-linear-gradient(top, $red, #B30F1E );
		color: white;
		display: block;
		padding: 5px 30px;
		margin: 0;
	}
}

nav {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	font-size: $fs*1.2;
	position: fixed;
	z-index: 999;
	width: 1136px;
	background-color: white;
	font-family: 'Oswald', sans-serif;
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: $violet;
		font-weight: bold;
	}
	ul {
		overflow: hidden;
	}
	li {
		padding: 20px 10px 0 10px;
		height: 52px;
		float: left;
		color: #78797c;
	}
}

#user {
	padding: 13px;
	img {
		vertical-align: middle;
	}
}

#hyu {
	padding-top: 95px;
	overflow: hidden;
}

#overlay .content {
	width: 400px;
	.cont {
		text-align: left;
	}
	#username {
		font-size: $fs;
		padding: 3px;
		width: 300px;
	}
}

#videos {
	height: 120px;
	overflow: scroll;
	text-align: center;
	.video {
		float: left;
		width: 80px;
		img {
			border: 3px solid white;
		}
		.selected {
			border: 3px solid $violet;
		}
		p {
			font-size: $fs - 3;
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.898);
	z-index: 1001;
}

.content {
	position: absolute;
	top: 25%;
	left: 25%;
 	background-color: white;
	z-index: 1002;
	overflow: auto;
	border: 1px solid #3B5998;
	text-align: center;
	h2 {
		color: #fff;
		background-color: $violet;
		padding: 5px 10px;
		border: 1px solid lighten($violet, 30%);
		font-size: 18px;
		font-weight: bold;
	}
	div.cont {
		margin: 16px;
	}
	ul {
		list-style-type: square;
		li {
			margin-left: 20px;
		}
	}
}