/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*dev*/
$fs: 13px;
$violet: #59466D;
body {
/*	background: url(background.jpg) top left no-repeat;*/
	font-family: 'Istok Web' sans-serif;
	font-size: $fs;
}

#container {
	width: 1136px;
	margin: 0 auto;
	position: relative;
}

#left, #right {
	margin-top: 30px;
	margin-left: 150px;
	width: 350px;
}

#left {
	text-align: center;
	float: left;
	#logo {
		margin: 10px 0;
	}
}

#right {
	float: left;
	h2 {
		font-weight: bold;
		font-size: 34px;
		line-height: 40px;
		color: #59466d;
		text-align: left;
	}
	h3 p {
		color: #78797c;
		text-align: left;
	}
	h4, h4 a {
		color: #ee3a68;
		text-transform: uppercase;
		text-align: left;
	}
	h2, h3 p, h4 {
		margin: 5px 0;
	}
}

#loader {
	clear: both;
	width: 772px;
	height: 880px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: $fs*2;
	position: absolute;
	top: 350px;
	left: 160px;
}

#donate {
	text-align: right;
	padding-right: 30px;
	padding-top: 10px;
}

nav {
	background: url(nav_background.png) bottom left no-repeat;
	width: 805px;
	height: 30px;
	padding-top: 15px;
	margin: 0 auto;
	a {
		text-transform: capitalize;
	}
}

#overlay {
	display: none;
	width: 400px;
	border: 10px solid #666;
	border: 10px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#overlay_video {
	display: none;
	width: 500px;
	border: 10px solid #666;
	border: 10px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#videos {
	height: 120px;
	overflow: scroll;
	text-align: center;
	.video {
		float: left;
		width: 80px;
		img {
			border: 3px solid white;
		}
		.selected {
			border: 3px solid $violet;
		}
		p {
			font-size: $fs - 3;
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.898);
	z-index: 1001;
}

.content {
	position: absolute;
	top: 25%;
	left: 25%;
 	background-color: white;
	z-index: 1002;
	overflow: auto;
	border: 1px solid #3B5998;
	text-align: center;
	h2 {
		color: #fff;
		background-color: $violet;
		padding: 5px 10px;
		border: 1px solid lighten($violet, 30%);
		font-size: 18px;
		font-weight: bold;
	}
	div.cont {
		margin: 16px;
	}
	ul {
		list-style-type: square;
		li {
			margin-left: 20px;
		}
	}
}